/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */
/* ----працює через нормалайз--- */

/* ----присвоєння змінних--- */
:root {
  --primary-text-color:#212121;
  --title-text-color: #000000;
  --accent-color: #2196F3;
  --secondary-color:#757575;
  --primary-white-color:#FFFFFF;
  --font-text: 'Roboto', sans-serif;
  --font-logo: 'Raleway',sans-serif;
}

img{
  display: block;
}

body{
  background: var(--primary-white-color);
}

/* Змінна стилів в list */
.list-style{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* --------------------- */

/* відключення відступів  */
h1,h2,h3,h4,h5,h6,p{
  margin:0px;  
}
/* --------------- */


.footer-background{
  background: #2F303A;
  max-width:1600px ;
  margin-right: auto;
  margin-left: auto;
}

/* div/ container */

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}
/* ------end / container */


/* ----------------------site-navigator-------------------- */

/* --------------logo--------- */
.logo {
  text-decoration:none ;
  color:var(--title-text-color);
  text-decoration:none;
  font-family:var(--font-logo);
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  font-style: normal ;
}

 .logo-accent{
  color:var(--accent-color);
}

.logo.inverse{
  color:var(--primary-white-color);
}

/* ------------------end logo------------------ */



/* -----start   main navigation------------------------ */
.site-nav .link.current{
  color:var(--accent-color);
}

.site-nav .link{
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color:var(--main-color);

  font-family:var(--font-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 }

.site-nav .link:hover,
.site-nav .link:focus {
  color:var(--accent-color);
}

/* ---- навігатор-флекс */



.container > .flex-nav{
  display: flex;
  align-items: center;
}

.container-address{
  display: flex;
}
/* -------------------- */

.site-nav{
  display: flex;
  margin-left: 85px;
}

.site-nav .flex-link + .flex-link{
  margin-left: 50px;
}

/* -------start address----- */


.address a {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color:var(--secondary-color);
  
  font-family:var(--font-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address a:hover,
.address a:focus {
 color:var(--accent-color);
}

.for-margin{
  margin-left: auto;
}
.address {
  display: flex;
}

.address > .link + .link{
  margin-left: 50px;
}
/* ------finish address------------- */










/* main section */
/* banner */

.banner{
  background: blueviolet;
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

}

.hero{
  text-align: center;
  font-family:var(--font-text);
  letter-spacing: 0.06em;
  font-style: normal;
  color:var(--primary-white-color);
}


.hero > .title { 
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36 ;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.hero .button {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color:var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }


.hero .button:hover,
.hero .button:focus{
  background:rgba(21,96,23, 0.15);
  color: var(--primary-white-color);
}







/* section how it work */

.container.it-work{
  padding-top: 94px;
}

.it-work > .title{
  display: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em; 
  color: var(--primary-text-color);
 
}
/* --------------------- */


.it-work .subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}


.it-work .how-work{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  width: 270px;
}


.it-work .flex{
  display: flex;
}

.flex .list{
  margin-right: 30px;
  width: 270px;
}

.flex .list:last-child{
  margin-right: 0px;
}

.image{
  margin-bottom: 55px;
}

.subtitle{
  margin-bottom: 10px;
}

/* --------end section It-work----------- */









/* Чим ми займаємось */
.container.do-work{
  padding-top: 94px ;
  padding-bottom: 94px;
}



.do-work > .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em; 
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.do-work .we-work{
  display: flex;
}


.we-work .list{
  width: 370px;
  margin-right: 30px;
} 

.we-work .list:last-child{
  margin-right: 0px;
}

.name-work{
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-family:var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);;
  }
/* -------------------------------- */




/* ------our-teams------- */



.container-teams{
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.container-teams .teams{
  display: flex;
}

.about-card{
  background-color: var(--primary-white-color);
  border-bottom-right-radius:4px ;
  border-bottom-left-radius: 4px;
}

.container-teams > .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em; 
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.teams > .iteam{
  margin-right: 30px;
}

.teams > .iteam:last-child{
  margin-right: 0px;
}

.worker {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
  text-align: center;
}

.profession {
  margin-top: 10px;
  font-weight: 400;
  color: var(--secondary-color);
  text-align: center;
}

.teams .social{
  margin-top: 16px;
  padding-bottom:24px ;
  margin-left: 15px;
}

.icons{
  text-decoration: none;
  color: var(--secondary-color);
}

.icons:hover,
.icons:focus{
  color: var(--accent-color)
}


/* -------------End - Teams ------- */


/* постійні клієнти */

.container.custumers{
  padding-top: 94px;
  padding-bottom: 94px;
}

.custumers > .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em; 
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.regular-custumers:hover,
.regular-custumers:focus{
  color: var(--accent-color);
}

.custumers-title{
  margin-bottom: 50px;
}


.clients{
  display: flex;
}

.clients .list{
  margin-right: 30px;
}

.clients .list:last-child{
  margin-right: 0;
}



/* -------------------------- */













/* start portfolio.html */
/* portfolio */

.off{
  display: none;
}

.flex-button{
  display: flex;
  justify-content: center;
}

.container.bottons{
  padding-top: 93px;
}

.button-radio{
  background: #f5f4fa;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.flex-button .list{
  margin-right: 8px;
}

.flex-button .list:last-child{
  margin-right: 0px;
}

.button-radio:hover,
.button-radio:focus{
  color: var(--accent-color);
}



/* ----------portfolio------------- */

.container.portfolio{
  padding-top: 50px;
  padding-bottom: 94px;
}

.flex-style a{
  display: block;
  text-decoration: none;
}

.flex-style{
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin-bottom: 20px;
}

 .name-post{
  margin-bottom: 4px; 
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
 }

 .post-about{
   padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
 }

 /* .kryak{
  background: rgba(33, 150, 243, 0.9);;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
 } */


/* -----two section portfolio   */




/* -----calc((100%-(30*(n-1)))/n)*/

.flex-style .list{
  width:calc((100% - 60px)/3);
  margin-top: 30px;
  margin-right: 30px;
  
}

.flex-style .list:nth-child(3n){
  margin-right: 0px;
}

.flex-style .list:nth-last-child(-n + 3){
  margin-bottom: 0;
}

.flex-style .list:nth-child(-n + 3){
  margin-top: 0px;
}



/* footer */

.footer-flex{
  display:flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
}

.column.one > a{
  display: block;
  margin-bottom: 8px;
}

.column.one .list{
  margin-bottom: 9px;
}

.column.one .list:last-child{
  margin-bottom: 0px;
}


.column.two{
  margin-left: 69px;
}



.address-street{
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71 ;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-footer a {
  display: block;
  color:var(--secondary-color);
  font-family:var(--font-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-footer a:hover,
.address-footer a:focus {
 color:var(--accent-color);
}
/* ----------------------------------- */

/* Join */
.join{
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  
}
/* ------------------------------------- */



/* end */

.copyright {
  display: block;
  margin-right: auto;
  margin-left: auto;
  
  padding-top:  18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);


  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  
}
/* ---------------------end index.html */






